# node
dist
node_modules/

# python
python-advisor-core/advisor_core/__pycache__
python-advisor-core/runner.py

# .NET
advisor-sdk.sln
dotnet-advisor-core/obj/
dotnet-advisor-core/bin/
dotnet-advisor-core/*.json
