# node
dist
node_modules/

# python
python-advisor-core/advisor_core/__pycache__
python-advisor-core/tests/__pycache__

# go
main.go
go.mod

# .NET
advisor-sdk.sln
dotnet-advisor-core/obj/
dotnet-advisor-core/bin/
dotnet-advisor-core/*.json
dotnet-advisor-core.Tests/obj/
dotnet-advisor-core.Tests/bin/

# integration test env
.env.integration.local
.env*.local
